.item{
    background-color: lightblue;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

h2 {
    background-color:rgba(158, 46, 238, 0.778);
    color: white;
    text-align: center;
    width: 100%;
    padding: 10px;
    border-radius: 4px;
}

img{
    align-content: center;
    width: 100px;
    margin: 5px 100px;
    height: 100px;
}

p{
    text-align: center;
    font-size: large;
}
button{
    width: 60%;
    margin: 2px;
    height: 40px;
    background-color: darkblue;
    border-radius: 5px;
    text-align: center;
    font-size: large;
    color: white;
}