.list{
    width: 60%;
    margin:0px auto ;
    display: flex;
    flex-direction: column;
}

form{
    display: flex;
    flex-wrap: wrap;
    width: 80%;
	border-radius: 1%;
	box-shadow: 2px 2px #555;
	background-color:lightcyan;
	padding: 30px 30px;
	margin: 40px auto;
}

label, input {
	display: block;
	width: 23%;
	text-align: left;
    padding-left: 1%;
}
label {
	color: #555;
	font-weight: bold;
	margin-top: 20px;
	margin-bottom: 5px;
}

input[type=text],input[type=password],input[type=email],input[type=number] {
	padding: 10px;
	box-sizing: border-box;
	border: 1px solid #ddd;
	border-radius: 5px;
	margin-bottom: 20px;
}
input[type=text]:focus,input[type=password]:focus,input[type=email]:focus {
	background-color: aquamarine;
}

